<header class="bg-[var(--tw-color-morado-header)] p-4 fixed w-full top-0 z-50">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-white text-xl font-bold">Mi Sitio Web</h1>
        <nav class="space-x-4">
            <a routerLink="/home" class="text-white hover:text-purple-300">Inicio</a>
            <a routerLink="/shop" class="text-white hover:text-purple-300">Ofertas</a>
            <a href="#" class="text-white hover:text-purple-300">Nosotros</a>
            <a href="#" class="text-white hover:text-purple-300">Contacto</a>
        </nav>
    </div>
</header>