<a routerLink="/shop/categories/{{ categories.slug }}" class="block">
    <div class="bg-white rounded-lg shadow-lg overflow-hidden w-80 mt-10 mb-10">
        <a href="#">
            <div class="relative h-48">
                <img src="{{categories.image}}" alt="Prosegur" class="w-full h-full object-cover">
            </div>
        </a>
        <div class="p-6 text-center">
            <h4 class="text-xl font-bold text-[#240046]">{{categories.category_name}}</h4>
            <p class="text-gray-500">29 ofertas</p>
        </div>
    </div>
</a>