<div class="container px-0 mx-auto flex mt-20">
    <div class="w-3/5 ">
        <app-card-job *ngFor="let job of jobs" [jobs]="job">
        </app-card-job>
    </div>

    <div class="w-2/5 ">
        <!-- Primer div fijo (máximo 20vh, no excede mt-20) -->
        <div class="sticky top-52 mb-6">

            <div class="bg-white h-[30vh] mb-6 rounded-lg shadow-lg p-6">
                <h3 class="text-xl font-bold text-[#240046] mb-4">Detalles</h3>
            </div>

            <div class="bg-white h-[43vh]  rounded-lg shadow-lg p-6">
                <h3 class="text-xl font-bold text-[#240046] mb-4">Mapa</h3>
            </div>
        </div>

        <!-- Segundo div fijo (máximo 40vh, no excede mt-20) -->

    </div>


</div>


<!-- <div class="pagination">
    <nav *ngIf="jobs.length != 0 && totalPages.length != 1">
        <ul class="pagination pg-blue">
            <li class="page-item" [ngClass]="{'active': pageNumber === currentPage}"
                *ngFor="let pageNumber of totalPages" (click)="setPageTo(pageNumber)">
                <span class="page-link">{{ pageNumber }}</span>
            </li>
        </ul>
    </nav>
</div> -->