@if (categories) {
<div class="container mt-100">
    <div class="aliniar">
        <div class="col-md-4 col-sm-6 category">
            <div class="card mb-30">
                <a class="card-img-tiles" routerLink="/shop/categories/{{ categories.slug }}" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img id="img-cat" src="img_categories/{{ categories.image }}" alt="{{ categories.category_name }}"></div>
                    </div>
                </a>
            </div>
            <div class="card-body text-center">
                <h3 class="card-title">{{ categories.category_name }}</h3>
            </div>
        </div>
    </div>
</div>
}